<!-- Included in users.html -->

<!-- Make sure buttons have a padding of 1 -->

<div class="overflow-y-scroll m-0 p-0" style="height: 70vh;">
  <table class="table table-striped table-hover mb-0">

    <!-- User Table Column Headers -->
    <thead class="sticky-top">
      <tr>
        <th scope="col">Organization</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Authorized</th>
        <th scope="col">Admin</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <!-- User Table Rows -->
    <tbody class="table-group-divider">
      {% for user in users %}
        <tr>
          <td>{{ user.organizations }}</td>
          <td>{{ user.username }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>

          <td>
            <form method="post" action="{% url 'user_management:update_user_groups' user.id %}">
              {% csrf_token %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="authorized" id="authorized-check-{{ user.id }}" {% if user.is_authorized %}checked{% endif %}>
              </div>
          </td>

          <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="admin" id="admin-check-{{ user.id }}" {% if user.is_admin %}checked{% endif %}>
              </div>
          </td>

          <td>
            <button type="submit" class="btn btn-success p-1" name="update-user" id="update-btn-{{ value.id }}" style="width: 3rem;" value="{{ user.id }}"><i class="bi bi-floppy"></i></button>
          </td>

          <td>
            <button type="submit" class="btn btn-danger p-1" name="delete-user" id="delete-btn-{{ value.id }}" style="width: 3rem;" value="{{ user.id }}"><i class="bi bi-trash"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>


  </table>
</div>