<!-- Moved this code directly into header file -->

<li>
    <a class="nav-link" href="/">Home</a>
</li>

{% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/myProfile">{{user.username|title}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
{% else %}
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
    </li>
{% endif %}