{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row" style="height: 50rem;">

    <!-- Row 1 Column 2 -->
    <div class="col content d-flex justify-content-center align-items-center">

      <div class="text-center">
        <h1>404 Page Not Found.</h1>
        <p>The page you requested was not found.</p>
        <a href="/" class="btn btn-secondary">Go to Home</a>
      </div>
      
    </div>

  </div>
</div>

{% endblock %}