{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

    <!-- Row 1 -->
    <div class="row" style="height: 94vh;">

        <!-- Row 1 Column 1 -->
        <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
            {% include 'main/includes/sidebar.html' %}
        </div>

        <!-- Row 1 Column 2 -->
        <div class="col content">

            <!-- Row 1 Column 2 Row 1 -->
            <div class="row text-center" style="height: 6vh;">


                <h2 class="border-bottom">Create Project</h2>


            </div>

            <!-- Row 1 Column 2 Row 2 -->
            <div class="row justify-content-center p-1" style="height: 6vh;">

                <!-- Row 1 Column 2 Row 2 Column 1-->
                <div class="col-auto">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="project_name">Enter unique project name:</span>
                        <input type="text" class="form-control" placeholder="Project Name" aria-label="Project Name">
                    </div> 

                </div>

            </div>

            <!-- Row 1 Column 2 Row 3 -->
            <div class="row justify-content-center p-1" style="height: 6vh;">

                <!-- Row 1 Column 2 Row 3 Column 1-->
                <div class="col-auto">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="project_name">Upload or attach an existing dataset:</span>
                        <select id="selectDataset" class="form-select">
                          <option selected>Datasets</option>
                          <option>Dataset 1</option>
                          <option>Dataset 2</option>
                          <option>Dataset 3</option>
                        </select>
                        <input type="file" class="form-control" id="project_name" aria-describedby="uploadFile" aria-label="Upload">
                    </div>

                </div>

            </div>

            <!-- Row 1 Column 2 Row 4 -->
            <div class="row">

                <!-- Row 1 Column 2 Row 4 Column 1-->
                <div class="col-12">

                    <div class="d-flex justify-content-start align-items-center" style="height: 6vh;">
                        <!-- <button type="button" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Coding Variable</button> -->
                        {% include 'main/includes/addProject/addVariableModal.html' %}
                    </div>

                </div>

            </div>

            <!-- Row 1 Column 2 Row 5 -->
            <div class="row" style="height: 26vh;">
                {% include 'main/includes/addProject/variableTable.html' %}
            </div>

            <!-- Row 1 Column 2 Row 6 -->
            <div class="row">

                <!-- Row 1 Column 2 Row 6 Column 1-->
                <div class="col-12">

                    <div class="d-flex justify-content-start align-items-center" style="height: 6vh;">
                        <!-- <button type="button" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Project User(s)</button> -->
                        {% include 'main/includes/addProject/addUsersModal.html' %}
                    </div>

                </div>
                
            </div>

            <!-- Row 1 Column 2 Row 7 -->
            <div class="row" style="height: 26vh;">
                {% include 'main/includes/addProject/usersTable.html' %}
            </div>

            <!-- Row 1 Column 2 Row 8 -->
            <div class="row p-2" style="height: 6vh;">

                <!-- Row 1 Column 2 Row 2 Column 1-->
                <div class="col-4">

                </div>

                <!-- Row 1 Column 2 Row 2 Column 1-->
                <div class="col-4">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="overlap_percent">Overlap Percentage:</span>
                        <input type="number" class="form-control" placeholder="Overlap Percentage" aria-label="Overlap Percentage">
                        <span class="input-group-text">%</span>
                      </div> 

                </div>

                <!-- Row 1 Column 2 Row 2 Column 1-->
                <div class="col-4">

                </div>

            </div>

            <!-- Row 1 Column 2 Row 9 -->
            <div class="row px-1" style="height: 6vh;">

                <!-- Row 1 Column 2 Row 9 Column 1-->
                <div class="col-2">
                    <div class="d-none">placeholder</div>
                </div>

                <!-- Row 1 Column 2 Row 9 Column 2-->
                <div class="col-4">

                    <div class="d-flex justify-content-start align-items-center" style="height: 6vh;">
                        <button type="button" class="btn btn-danger">Clear</button>
                    </div>

                </div>

                <!-- Row 1 Column 2 Row 9 Column 3-->
                <div class="col-4">

                    <div class="d-flex justify-content-end align-items-center" style="height: 6vh;">
                        <button type="button" class="btn btn-success">Create</button>
                    </div>

                </div>

                <!-- Row 1 Column 2 Row 9 Column 4-->
                <div class="col-2">
                    <div class="d-none">placeholder</div>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}