{% extends 'main/index.html' %}

{% block content %}

<div class="container px-1 py-3">

    <div class="d-flex justify-content-center">
        <div class="card" style="width: 25rem;">
            <div class="card-header">
              Login
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
            </div>
          </div>
    </div>
</div>

{% endblock %}