{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="d-flex flex-nowrap" style="width: 100%;">

    <!-- Row 1 Column 1 -->
    <div class="d-none d-sm-block sidebar-style" style="flex: 0 0 auto;">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="flex-grow-1 d-flex flex-column" style="min-width: 0;">
      <!-- Main Content -->

      {% if user_projects %}

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row">
        <!-- Search -->

        <div class="d-flex flex-row justify-content-end">

          <div class="p-2 w-100" style="max-width:25rem; min-width: auto;">

            <!-- Search -->
            <form method="get">
              <div class="input-group">
                {% if query %}
                  <!-- Populate Search Input if Search -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search..." value="{{ query }}">
                {% else %}
                  <!-- Empty Search Input -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search...">
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-4">
        
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          {% include 'main/includes/myProjects/myProjectsTable.html' %}
        </div>

      </div>

      {% else %}

        <blockquote class="blockquote text-center">
          <p>You do not currently have any projects. Start by creating a new project or being invited to an existing project.</p>
        </blockquote>

      {% endif %}

    </div>

  </div>

</div>

<!-- Testing Tooltips -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

{% endblock %}