{% extends 'main/index.html' %}

{% block content %}

<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row" style="height: 50rem;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content w-auto">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <!-- Page Title -->
        <h2 class="border-bottom">My Projects</h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row p-1" style="height: 6vh;">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-8">
          <div class="d-none">placeholder</div>
        </div>

        <!-- Row 1 Column 2 Row 3 Column 2-->
        <div class="col-4">

          <!-- Search -->
          <form>
            <div class="input-group mb-3">
              <span class="input-group-text" id="search-label">Search</span>
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-label">
            </div>
          </form>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row" style="max-height: 76vh;">

        <div class="col">

          <table class="table table-striped table-hover mb-0">

            <!-- Word Table Column Headers -->
            <thead class="sticky-top">
              <tr>
                <th scope="col"><i class="bi bi-star-fill"></i></th>
                <th scope="col"><span data-bs-toggle="tooltip" data-bs-title="Default tooltip">Organization</span></th>
                <th scope="col">Project</th>
                <th scope="col">Principal Investigator</th>
                <th scope="col">% Partially Coded</th>
                <th scope="col">% Completely Coded</th>
                <th scope="col">Download</th>
              </tr>
            </thead>

            <!-- Word Table Rows -->
            <tbody class="table-group-divider">
              <!-- Loop through user's projects -->
              {% for user_project in user_projects %}
                <tr>
                  <td>
                    {% if user_project.favorite %}
                      <form method="post">
                        {% csrf_token %}
                        <input class="d-none" type="text" name="deselect-favorite">
                        <input class="d-none" type="text" value="{{ user_project.project.project_id }}" name="project-id">
                        <button type="submit" class="btn btn-star-fav" aria-label="Star Selected">
                          <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.32-.158-.888.283-.95l4.898-.696 2.176-4.401c.197-.4.73-.4.927 0l2.176 4.401 4.898.696c.441.063.612.63.283.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                          </svg>
                        </button>
                      </form>
                    {% else %}
                      <form method="post">
                        {% csrf_token %}
                        <input class="d-none" type="text" name="select-favorite">
                        <input class="d-none" type="text" value="{{ user_project.project.project_id }}" name="project-id">
                        <button type="submit" class="btn btn-star" aria-label="Star">
                          <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.32-.158-.888.283-.95l4.898-.696 2.176-4.401c.197-.4.73-.4.927 0l2.176 4.401 4.898.696c.441.063.612.63.283.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                          </svg>
                        </button>
                      </form>
                    {% endif %}
                  </td>
                  <td>{{ user_project.project.project_org }}</td>
                  <td><a class="link-body-emphasis icon-link link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'main:myProjects_units' user_project.project.project_id %}"><i class="bi-box-arrow-up-right"></i>{{ user_project.project.project_name }}</a></td>
                  <td scope="row">{{ user_project.project.principal_investigator }}</td>
                  <td>10%</td>
                  <td>25%</td>
                  <th scope="row"><button type="button" class="btn btn-info p-1" aria-label="Download"><i class="bi bi-download"></i> Data</a></button></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

{% endblock %}