{% extends 'main/index.html' %}

{% block content %}

    <!-- Register New Users -->
    <div class="container px-1 py-3">
        <div class="d-flex justify-content-center">

            <!-- Card for Register Form -->
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                  Register
                </div>
                <div class="card-body">

                    <!-- Register Form -->
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>

                    <!-- Redirect to Login Page -->
                    <p>If you already have an account, <a href="/login"><strong>login</strong></a> instead.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}