{% extends 'main/index.html' %}

{% block content %}

<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row" style="height: 50rem; background-color: blue;">

    <!-- Row 1 Column 1 -->


      <div class="flex-shrink-0 p-3" style="width: 10rem; background-color: red;">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <!-- Explore -->
            <a class="btn btn-secondary d-inline-flex justify-content-center" href="/" id="explore-btn" style="width: 7rem;">Explore</a>
          </li>
          <li class="mb-1">
            <!-- My Projects -->
            <a class="btn btn-secondary d-inline-flex justify-content-center" href="/my_projects" id="my_projects-btn" style="width: 7rem;">My Projects</a>
            <button class="btn btn-secondary d-inline-flex align-items-center rounded border-0 collapsed d-none" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
              Dashboard
            </button>
            <div class="collapse show" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1" style="height: 3rem;">
            <!-- Inbox -->
            <a class="btn btn-secondary d-inline-flex justify-content-center" id="inbox-btn" href="/inbox" style="width: 7rem;">Inbox</a>
          </li>
          <li class="mb-1" style="height: 3rem;">
            <!-- Users -->
            <a class="btn btn-secondary d-inline-flex justify-content-center" href="/users" id="users-btn" style="width: 7rem;">Users</a>
          </li>
          <li class="mb-1" style="height: 3rem;">
            <!-- Data Grid -->
            <a class="btn btn-secondary d-inline-flex justify-content-center" href="/datagrid" style="width: 7rem;">Data Grid</a>
          </li>

        </ul>
      </div>


    <!-- Row 1 Column 2 -->
    <div class="col content w-auto">


    </div>

  </div>
</div>

{% endblock %}