<!-- Included in addProject.html -->

<!-- Make sure buttons have a padding of 1 -->
    
<div class="overflow-y-scroll m-0 p-0" style="height: 64vh;">
    <table class="table table-striped table-hover mb-0">

    <!-- User Table Column Headers -->
    <thead class="sticky-top">
        <tr>
            <th scope="col" style="width: 30%;">Privileges Per Project</th>
            <th scope="col" style="width: 10%;">SMR</th>
            <th scope="col" style="width: 10%;">SMC</th>
            <th scope="col" style="width: 10%;">SMC+</th>
        </tr>
    </thead>

    <!-- User Table Rows -->
    <tbody class="table-group-divider">
        <tr>
        <th scope="row">Create the Project</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Add Users to Project</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">View Codebook Variables</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Edit Codebook Variables</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Assign Coding Assignments to Team</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Set IRR Overlap Requirements</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Code Individual Posts</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">View Posts</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Edit Posts</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">View Project's Overview/Dashboard Visualizations</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">View IRR of Project</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">View Project's Coded Descriptives</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Export Posts</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Export Coded Results</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
        <tr>
        <th scope="row">Export Project's IRR Results & Overview/Descriptives Visualizations</th>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        <td>{% include 'main/includes/checkbox.html' %}</td>
        </tr>
    </tbody>
    </table>
</div>

  
    