<!-- Included in index.html -->

<nav class="navbar navbar-expand-sm navbar-dark fixed-top" aria-label="Navbar" style="background-color: #5D1725;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">COPE-ID</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">{Role}</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link d-none"></a>
        </li>
        {% endif %}

      </ul>

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">

        {% if user.is_authenticated %}

          <a class="btn btn-secondary" style="margin-right: 0.25rem;" href="/account">{{user.username|title}}</a>
          <a class="btn btn-secondary" style="margin-right: 0.125rem; margin-left: 0.125rem;" href="/logout">Logout</a>

        {% else %}

          <a class="btn btn-secondary" style="margin-right: 0.25rem;" href="/login">Login</a>
          <a class="btn btn-secondary" style="margin-right: 0.125rem; margin-left: 0.125rem;" href="/register">Register</a>

        {% endif %}

      </div>

    </div>
  </div>
</nav>