<!-- Included in index.html -->

<!-- Check if an alert exists -->
{% if messages %}

  <!-- Loop through alert types -->
  {% for message in messages %}

    <!-- Success alert -->
    {% if message.tags == 'success'%}
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; top: 6vh; width: 30rem; left: 50%; transform: translateX(-50%); z-index: 1000;">
        <i class="bi bi-check-circle-fill"></i>
        <strong>{{message}}</strong>
        <!-- Close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <!-- Info alert -->
    {% elif message.tags == 'info'%}
      <div class="alert alert-info alert-dismissible fade show" role="alert" style="position: absolute; top: 6vh; width: 30rem; left: 50%; transform: translateX(-50%); z-index: 1000;">
        <i class="bi bi-info-circle-fill"></i>
        <strong>{{message}}</strong>
        <!-- Close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <!-- Warning alert -->
    {% elif message.tags == 'warning'%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: absolute; top: 6vh; width: 30rem; left: 50%; transform: translateX(-50%); z-index: 1000;">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>{{message}}</strong>
        <!-- Close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <!-- Error alert -->
    {% elif message.tags == 'error'%}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; top: 6vh; width: 30rem; left: 50%; transform: translateX(-50%); z-index: 1000;">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong>{{message}}</strong>
        <!-- Close button -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    {% endif %}
  {% endfor %}
{% endif %}