<!-- Included in index.html -->
<style>
  .navbar {
    z-index: 1030;
  }
  .collapse.show {
    z-index: 1040;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-dark" aria-label="Navbar" style="background-color: #5D1725; min-height: 4rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      COPE-ID
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">

        <li class="nav-item">
          <a class="nav-link d-none"></a>
        </li>

      </ul>

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">

        {% if user.is_authenticated %}
          
          <div class="d-flex flex-row">
            <a class="btn btn-navbar-main" id="myProfile-btn" href="/myProfile"><strong>My Profile</strong></a>
            <a class="btn btn-navbar-main" href="/logout"><strong>Logout</strong></a>
          </div>

          <div class="d-flex flex-row flex-wrap">
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.25rem; margin-right: 0.25rem;" href="/" id="explore-btn">Explore</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/my_projects" id="my_projects-btn">My Projects</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/inbox" id="inbox-btn">Inbox</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/datagrid">Data Grid</a>
          </div>

        {% else %}

          <div class="d-flex flex-row">
            <a class="btn btn-navbar-main" href="/login">Login</a>
            <a class="btn btn-navbar-main" href="/register">Register</a>
          </div>

        {% endif %}

      </div>

    </div>
  </div>
</nav>