<!-- Included in index.html -->
<style>
  .navbar {
    z-index: 1030;
  }
  .collapse.show {
    z-index: 1040;
  }
</style>

<nav class="navbar navbar-expand-md" aria-label="Dataviz navbar" style="background-color: #5D1725; min-height: 7rem;">
  <div class="container-fluid" style="background-color: #5D1725;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#datavizNavbar" aria-controls="datavizNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="datavizNavbar">
      <a class="navbar-brand col-lg-3 me-0" href="/">
        {% load static %}
        <img type="image/png" width="200" height="85" src="{% static 'images/DataViz_logo.png' %}"/>
      </a>
      <ul class="navbar-nav col-md-6 justify-content-md-center">
        <h2 class="h1-page-title" style="z-index: 1050;">{{ page_name }}{% if edit_project and pi %} <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editProjectName"><i class="bi bi-pencil text-white"></i></button>{% endif %}</h2>
      </ul>
      <div class="d-md-flex col-md-3 justify-content-md-end">
        {% if user.is_authenticated %}
          
          <div class="d-flex flex-row">
            <a class="btn btn-navbar-main" id="myProfile-btn" href="/myProfile"><strong>My Profile</strong></a>
            <a class="btn btn-navbar-main" href="/logout"><strong>Logout</strong></a>
          </div>

          <div class="d-flex flex-row flex-wrap">
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.25rem; margin-right: 0.25rem;" href="/" id="explore-btn">Explore</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/my_projects" id="my_projects-btn">My Projects</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/inbox" id="inbox-btn">Inbox</a>
            <a class="btn btn-secondary d-sm-none d-inline-block" style="width: 7rem; margin-top: 0.5rem; margin-left: 0.125rem; margin-right: 0.25rem;" href="/datagrid">Data Grid</a>
          </div>

        {% else %}

          <div class="d-flex flex-row">
            <a class="btn btn-navbar-main" href="/login">Login</a>
            <a class="btn btn-navbar-main" href="/register">Register</a>
          </div>

        {% endif %}
      </div>
    </div>
  </div>
</nav>

<div class="p-0 m-0">
  <hr class="border hr-navbar-border m-0"> 
</div>