<!-- Dashboard Sidebar -->



<div class="row p-1 px-2 justify-content-center" style="height: 6vh;">
    <!-- Explore -->
    <a class="btn btn-primary w-100 mb-2" href="/">Explore</a>
</div>

<div class="row p-1 px-2 justify-content-center" style="height: 6vh;">
    <!-- Add Project -->
    <a class="btn btn-primary w-100 mb-2" href="/add_project">Add Project</a>
</div>

<div class="row p-1 px-2 justify-content-center" style="height: 6vh;">
    <!-- Existing Projects -->
    <a class="btn btn-primary w-100 mb-2" href="/existing_project">Existing Projects</a>
</div>

<div class="row p-1 px-2 justify-content-center" style="height: 6vh;">
    <!-- Users -->
    <button class="btn btn-primary w-100 mb-2">Users</button>
</div>

<div class="row p-1 px-2 justify-content-center" style="height: 6vh;">
    <!-- Data Grid -->
    <a class="btn btn-primary w-100 mb-2" href="/datagrid">Data Grid</a>
</div>
