<!-- Included in home.html -->

<!-- CSS for Trashcan Button -->
<style>
  .trash-btn {
    padding: 0 !important;
  }
  .trash-btn i.bi-trash {
    color: black; /* Default color */
    transition: color 0.3s; /* Smooth transition */
    padding: 0 !important;
  }
  
  .trash-btn:hover i.bi-trash {
    color: red; /* Color on hover */
  }
  </style>

<div class="overflow-y-scroll m-0 p-0" style="height: 40vh;">
  <table class="table table-striped table-hover mb-0">
    <thead class="sticky-top">
      <tr>
        <th scope="col"></th>
        <th scope="col">Word</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>people</td>
        <td>30</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>vaccination</td>
        <td>27</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>pfizer</td>
        <td>26</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>astrazaneca</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>shots</td>
        <td>19</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>covidshield</td>
        <td>17</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>virus</td>
        <td>14</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>homeless</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>rollout</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>coronavirus</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>health</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>health</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>health</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>health</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>health</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn trash-btn" aria-label="Delete"><i class="bi bi-trash"></i></button></th>
        <td>LAST</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>