{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->
       
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Store Edit Action -->
        <input type="text" class="form-control d-none" name="edit-action" id="edit-action" value="">

        <!-- Row 1 Column 2 Row 1 -->
        <div class="row myProjects-nav-row">
          <!-- Return Button -->

          <div class="d-flex flex-row">
            <!-- Return to Codebook -->
            <div class="myProjects-nav-div me-auto">
              <a type="submit" class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" id="edit-return" href="{% url 'main:myProjects_codebook' project.project_id %}"><i class="bi bi-arrow-left"></i> Codebook</a>
            </div>

            <!-- Save Variable -->
            <div class="myProjects-nav-div">
              <button type="submit" class="btn btn-success myProjects-nav-a text-truncate overflow-hidden" id="save-variable"><i class="bi bi-floppy"></i> Save Variable</button>
            </div>

            <!-- Add Another Variable -->
            <div class="myProjects-nav-div">
              <button type="submit" class="btn btn-success myProjects-nav-a text-truncate overflow-hidden" id="add-variable"><i class="bi bi-plus-circle"></i> Add Another</button>
            </div>
    
            <!-- Cancel -->
            <div class="myProjects-nav-div">
              <a class="btn btn-warning myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}"><i class="bi bi-x-octagon"></i> Cancel</a>
            </div>

          </div>

        </div>

        <!-- Row 1 Column 2 Row 2 -->
        <div class="row text-center" style="height: 3rem;">
          <h2 class="border-bottom">Add Variable to {{ project.project_name }}</h2>
        </div>

        <!-- Row 1 Column 2 Row 3-->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 3 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">
            <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
              <!-- Variable Name -->
              <div class="input-group flex-nowrap">
                <span class="input-group-text bg-secondary text-white" id="variable-wrapping">Variable Name</span>
                <input type="text" class="form-control validate-field" name="variable-name" id="variable-name" placeholder="Name" aria-label="Variable Name" aria-describedby="variable-wrapping">
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 4 -->
        <div class="row px-2 justify-content-center">

          <!-- Row 1 Column 2 Row 4 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">
            <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
              <!-- Variable Description -->
              <div class="input-group">
                <span class="input-group-text bg-secondary text-white">Variable Description</span>
                <textarea class="form-control" name="variable-description" id="variable-description" placeholder="Description" aria-label="Variable Description" aria-describedby="variable-wrapping" style="max-height: 12vh;"></textarea>
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 5 -->
        <div class="row px-4">

          <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
            {% include 'main/includes/myProjects/addVariableTable.html' %}
          </div>

        </div>

        <!-- Row 1 Column 2 Row 6 -->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 6 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-end">
            <div>
              <!-- Variable Name -->
              <div class="input-group flex-nowrap">
                <button type="button" class="btn btn-success p-1" id="add-btn" style="width: 6rem;">Add Value</button>
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 7 -->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 7 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">
            <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
              <!-- Level of Measurement -->
              <div class="input-group flex-nowrap">
                <label class="input-group-text bg-secondary text-white" for="variable-measure">Level of Measurement</label>
                <select class="form-select" name="variable-measure" id="variable-measure">
                  {% for measure in measurements %}
                    <option value="{{ measure }}">{{ measure }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

        </div>
      
      </form>
    </div>

  </div>

</div>



<!-- Value Info Modal -->
<div class="modal fade" id="variableInfoModal" tabindex="-1" aria-labelledby="variableInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="variableInfoModalLabel">Values, Labels, & Examples</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <figure>
          <blockquote class="blockquote">
            <p>Value labels are useful primarily for categorical (i.e., nominal or ordinal) variables, especially if they have been recorded as codes (e.g., 1, 2, 3). It is <strong>strongly</strong> suggested that you give each value a label so that you (and anyone looking at your data or results) understands what each value represent.</p>
            <p class="text-break">Example: In the sample dataset, the variable Rank represents the student's class rank. The values 1, 2, 3, 4 represent the categories Freshman, Sophomore, Junior, and Senior, respectively.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Clippy
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    const pattern = /^[a-zA-Z@][a-zA-Z0-9@#\$,._]*[a-zA-Z0-9@#\$,._]?$/;
    const reservedKeywords = new Set(["ALL", "AND", "BY", "EQ", "GE", "GT", "LE", "LT", "NE", "NOT", "OR", "TO", "WITH",
                                     "S1", "E1", "C1", "NET", "SUB", "TN", "CALC"]);
    let currentInput = null;
    // let currentVal = 1; // Increment row count each time

    // Listen for add button click
    $('#add-btn').on('click', function () {
      console.log("clicked")
      // Populate html for new row
      const newValue =
        `<tr>
          <td style="width: 5%;"><input type="number" class="form-control validate-field" name="value[]" placeholder="Value" aria-label="Variable value input"></td>
          <td style="width: 20;"><input type="text" class="form-control"name="label[]" type="text" placeholder="Label" aria-label="Variable label input"></td>
          <td style="width: 10%;"><input type="text" class="form-control" name="eg[]" placeholder="Example" aria-label="Variable example input"></td>
          <td>
            <div class="btn-group" role="group" aria-label="Up and Down">
              <button type="button" class="btn btn-secondary text-center btn-up" onclick="moveRowUp(this)"><i class="bi bi-caret-up"></i></button>
              <button type="button" class="btn btn-secondary text-center btn-down" onclick="moveRowDwn(this)"><i class="bi bi-caret-down"></i></button>
            </div>
          </td>
          <td><a type="button" class="icon-link trash-hover py-2" id="delete-btn"><i class="bi bi-trash3"></i></a></td>
        </div>`;
      // Add new row to bottom of rows
      $('#value-rows').append(newValue);
      refreshButtons();
    });

    // Listen for delete button click
    $('#value-rows').on('click', '#delete-btn', function () {
      // Fetch nearest row and delete
      console.log("delete clicked")
      $(this).closest('tr').remove();
      refreshButtons();
    });

    // Listen for cancel button click
    $('#cancel-btn').on('click', function () {
      // Clear all inputs fields in the first row
      $('#value-rows ul:first-child input').val('');

      // Remove all rows except the first one
      $('#value-rows ul:not(:first-child)').remove();
    });

    // Listen for return button click
    $('#return-btn').on('click', function () {
      console.log("return");
      $('#edit-action').val('return');
    });

    // Listen for save button click
    $('#save-variable').on('click', function () {
      console.log("save");
      $('#edit-action').val('save');
    });

    // Listen for add button click
    $('#add-variable').on('click', function () {
      console.log("add");
      $('#edit-action').val('add');
    });

    // Listen for cancel button click
    $('#cancel-variable').on('click', function () {
      console.log("cancel");
      $('#edit-action').val('cancel');
    });

    // Listen for delete button click
    $('#delete-variable').on('click', function () {
      console.log("delete");
      $('#edit-action').val('delete');
    });

    // Listen for previous button click
    $('#prev-btn').on('click', function () {
      console.log("previous");
      $('#edit-action').val('previous');
    });

    // Listen for next button click
    $('#next-btn').on('click', function () {
      console.log("next");
      $('#edit-action').val('next');
    });

    function validateInput(input) {
      if (input.type === 'text') {
        const value = input.value.toUpperCase();
        if (!pattern.test(value) || reservedKeywords.has(value)) {
          input.setCustomValidity("Invalid input or reserved keyword.");
          input.classList.add('is-invalid');
          // input.classList.remove('is-valid');
        } else {
          input.setCustomValidity("");
          // input.classList.add('is-valid');
          input.classList.remove('is-invalid');
        }
      } else if (input.type === 'number') {
        if (isNaN(input.value) || input.value.trim() === '') {
          input.setCustomValidity("Please enter a valid number.");
          // input.classList.add('is-invalid');
          input.classList.remove('is-valid');
        } else {
          input.setCustomValidity("");
          // input.classList.add('is-valid');
          input.classList.remove('is-invalid');
        }
      }
    }

    $('.needs-validation').on('submit', function(event) {
      const form = this;
      let isValid = true;

      $('.validate-field').each(function() {
        validateInput(this);
        if (!this.checkValidity()) {
          isValid = false;
        }
      });

      if (!isValid) {
        event.preventDefault();
        event.stopPropagation();
      }

      $(this).addClass('was-validated');
    });

    $('.validate-field').on('input', function() {
      validateInput(this);
    });
  });
</script>

{% endblock %}