{% extends 'main/index.html' %}

{% block content %}

<!-- CSS for List of Variable Codes -->
<style>
  .table tbody tr td {
    position: relative;
    width: 10vw;
    outline: none;
  }

  .table tbody tr td input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
  }

  .table tbody tr td input:focus {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
  }

  .form-control:focus {
    box-shadow: none;
  }
</style>

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->
       
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

      <div class="mb-1" style="height: 3rem;">
        <a type="submit" class="btn btn-secondary d-inline-flex justify-content-center" id="edit-return" href="{% url 'main:myProjects_codebook' project.project_id %}" style="width: 7rem;"><i class="bi bi-arrow-left"></i> Codebook</a>
      </div>

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 3rem;">
        <h2 class="border-bottom">Add Variable to {{ project.project_name }}</h2>
      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row" style="height: 76vh;">

        <div class="container text-center">
            <div class="row g-0 row-cols-4 justify-content-center" style="height: 6vh;">
              <div class="col-4">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text bg-secondary text-white" id="variable-wrapping">Variable Name</span>
                  <input type="text" class="form-control validate-field" name="variable-name" id="variable-name" placeholder="Name" aria-label="Variable Name" aria-describedby="variable-wrapping" value="{{ variable.variable_name }}">
                </div>
              </div>
            </div>

            <div class="row g-0 row-cols-4 justify-content-center mb-4" style="min-height: 6vh; max-height: 12vh;">
              <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text bg-secondary text-white">Variable Description</span>
                  <textarea class="form-control" name="variable-description" id="variable-description" placeholder="Description" aria-label="Variable Description" aria-describedby="variable-wrapping" style="max-height: 12vh;"></textarea>
                </div>
              </div>
            </div>

            <div class="row g-0 row-cols-4">
              <div class="col-3 bg-secondary text-white">
                <span class="h5">Value<button type="button" class="btn py-0 ps-1 pe-0 m-0" data-bs-toggle="modal" data-bs-target="#variableInfoModal"><i class="bi bi-info-circle text-info"></i></button></span>
              </div>
              <div class="col-3 bg-secondary text-white"><h5>Label</h5></div>
              <div class="col-5 bg-secondary text-white"><h5>Example</h5></div>
              <div class="col-1 d-none"><h5>Action</h5></div>
            </div>

            <div class="overflow-scroll" id="value-rows" style="max-height: 48vh;">

              <div class="row g-0 row-cols-4">
                <div class="col-3"><input class="form-control rounded-0 validate-field" name="value[]" type="number" placeholder="Value" aria-label="Variable value input" value="0"></div>
                <div class="col-3"><input class="form-control rounded-0" name="label[]" type="text" placeholder="Label" aria-label="Variable label input" value="Absent"></div>
                <div class="col-5"><input class="form-control rounded-0" name="eg[]" type="text" placeholder="Example" aria-label="Variable example input" value="None"></div>
                <div class="col-1">
                  <button type="button" class="btn btn-danger p-1" name="deleteValue-{{ value.id }}" id="delete-btn" style="width: 3rem;"><i class="bi bi-trash"></i></button>
                </div>
              </div>

              <div class="row g-0 row-cols-4">
                <div class="col-3"><input class="form-control rounded-0 validate-field" name="value[]" type="number" placeholder="Value" aria-label="Variable value input" value="1"></div>
                <div class="col-3"><input class="form-control rounded-0" name="label[]" type="text" placeholder="Label" aria-label="Variable label input" value="Present"></div>
                <div class="col-5"><input class="form-control rounded-0" name="eg[]" type="text" placeholder="Example" aria-label="Variable example input" value="None"></div>
                <div class="col-1">
                  <button type="button" class="btn btn-danger p-1" name="deleteValue-{{ value.id }}" id="delete-btn" style="width: 3rem;"><i class="bi bi-trash"></i></button>
                </div>
              </div>

              <div class="row g-0 row-cols-4">
                <div class="col-3"><input class="form-control rounded-0 validate-field" name="value[]" type="number" placeholder="Value" aria-label="Variable value input" value="99"></div>
                <div class="col-3"><input class="form-control rounded-0" name="label[]" type="text" placeholder="Label" aria-label="Variable label input" value="N/A"></div>
                <div class="col-5"><input class="form-control rounded-0" name="eg[]" type="text" placeholder="Example" aria-label="Variable example input" value="None"></div>
                <div class="col-1">
                  <button type="button" class="btn btn-danger p-1" name="deleteValue-{{ value.id }}" id="delete-btn" style="width: 3rem;"><i class="bi bi-trash"></i></button>
                </div>
              </div>

            </div>


            <div class="row g-0 justify-content-end mt-2">
              <div class="col-1 align-items-start">
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-success p-1" id="add-btn" style="width: 6rem;">Add Value</button>
                </div>
              </div>
              <div class="col-1"><span class="d-none">placeholder</span></div>
            </div>

            <div class="row g-0 row-cols-4 justify-content-center" style="height: 6vh;">
              <div class="col-4">
                <div class="input-group mb-3">
                  <label class="input-group-text bg-secondary text-white" for="variable-measure">Level of Measurement</label>
                  <select class="form-select" name="variable-measure" id="variable-measure">
                    {% for measure in measurements %}
                      <option value="{{ measure }}">{{ measure }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

        </div>

      </div>

      <div class="row g-0 mt-2 justify-content-center" style="height: 6vh;">

        <div class="col-2 align-items-start">
          <div class="d-flex justify-content-start">
            <a type="button" class="btn btn-warning p-1" href="{% url 'main:myProjects_codebook' project.project_id %}" style="width: 9rem;">Cancel</a>
          </div>
        </div>

        <div class="col-7"><span class="d-none">placeholder</span></div>

        <div class="col-2 align-items-start">
          <div class="d-flex justify-content-end">
            <input type="text" class="form-control d-none" name="edit-action" id="edit-action" value="">
            <button type="sbumit" class="btn btn-success p-1" id="edit-done" style="width: 9rem;">Save Variable</button>
            <button type="sbumit" class="btn btn-success p-1 ms-1" id="edit-continue" style="width: 9rem;">Add Another</button>
          </div>
        </div>

        <div class="col-1"><span class="d-none">placeholder</span></div>
      </div>
      
    </form>
    </div>

  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="variableInfoModal" tabindex="-1" aria-labelledby="variableInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="variableInfoModalLabel">Values, Labels, & Examples</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <figure>
          <blockquote class="blockquote">
            <p>Value labels are useful primarily for categorical (i.e., nominal or ordinal) variables, especially if they have been recorded as codes (e.g., 1, 2, 3). It is <strong>strongly</strong> suggested that you give each value a label so that you (and anyone looking at your data or results) understands what each value represent.</p>
            <p class="text-break">Example: In the sample dataset, the variable Rank represents the student's class rank. The values 1, 2, 3, 4 represent the categories Freshman, Sophomore, Junior, and Senior, respectively.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Clippy
          </figcaption>
        </figure>

      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    const pattern = /^[a-zA-Z@][a-zA-Z0-9@#\$,._]*[a-zA-Z0-9@#\$,._]?$/;
    const reservedKeywords = new Set(["ALL", "AND", "BY", "EQ", "GE", "GT", "LE", "LT", "NE", "NOT", "OR", "TO", "WITH",
                                     "S1", "E1", "C1", "NET", "SUB", "TN", "CALC"]);
    let currentInput = null;
    // let currentVal = 1; // Increment row count each time

    // Listen for add button click
    $('#add-btn').on('click', function () {
      console.log("clicked")
      // Populate html for new row
      const newValue =
        `<div class="row g-0 row-cols-4">
          <div class="col-3"><input class="form-control rounded-0 validate-field" name="value[]" type="number" placeholder="Value" aria-label="Variable value input"></div>
          <div class="col-3"><input class="form-control rounded-0" name="label[]" type="text" placeholder="Label" aria-label="Variable label input"></div>
          <div class="col-5"><input class="form-control rounded-0" name="eg[]" type="text" placeholder="Example" aria-label="Variable example input"></div>
          <div class="col-1">
            <button type="button" class="btn btn-danger p-1" name="deleteValue-{{ value.id }}" id="delete-btn" style="width: 3rem;"><i class="bi bi-trash"></i></button>
          </div>
        </div>`;
      // Add new row to bottom of rows
      $('#value-rows').append(newValue);
    });

    // Listen for delete button click
    $('#value-rows').on('click', '#delete-btn', function () {
      // Fetch nearest row and delete
      console.log("delete clicked")
      $(this).closest('.row').remove();
    });

    // Listen for cancel button click
    $('#cancel-btn').on('click', function () {
      // Clear all inputs fields in the first row
      $('#value-rows ul:first-child input').val('');

      // Remove all rows except the first one
      $('#value-rows ul:not(:first-child)').remove();
    });

    // Listen for return button click
    $('#return-btn').on('click', function () {
      console.log("return");
      $('#edit-action').val('return');
    });

    // Listen for save button click
    $('#save-variable').on('click', function () {
      console.log("save");
      $('#edit-action').val('save');
    });

    // Listen for cancel button click
    $('#cancel-variable').on('click', function () {
      console.log("cancel");
      location.reload();
    });

    // Listen for delete button click
    $('#delete-variable').on('click', function () {
      console.log("delete");
      $('#edit-action').val('delete');
    });

    // Listen for previous button click
    $('#prev-btn').on('click', function () {
      console.log("previous");
      $('#edit-action').val('previous');
    });

    // Listen for next button click
    $('#next-btn').on('click', function () {
      console.log("next");
      $('#edit-action').val('next');
    });

    function validateInput(input) {
      if (input.type === 'text') {
        const value = input.value.toUpperCase();
        if (!pattern.test(value) || reservedKeywords.has(value)) {
          input.setCustomValidity("Invalid input or reserved keyword.");
          input.classList.add('is-invalid');
          // input.classList.remove('is-valid');
        } else {
          input.setCustomValidity("");
          // input.classList.add('is-valid');
          input.classList.remove('is-invalid');
        }
      } else if (input.type === 'number') {
        if (isNaN(input.value) || input.value.trim() === '') {
          input.setCustomValidity("Please enter a valid number.");
          // input.classList.add('is-invalid');
          input.classList.remove('is-valid');
        } else {
          input.setCustomValidity("");
          // input.classList.add('is-valid');
          input.classList.remove('is-invalid');
        }
      }
    }

    $('.needs-validation').on('submit', function(event) {
      const form = this;
      let isValid = true;

      $('.validate-field').each(function() {
        validateInput(this);
        if (!this.checkValidity()) {
          isValid = false;
        }
      });

      if (!isValid) {
        event.preventDefault();
        event.stopPropagation();
      }

      $(this).addClass('was-validated');
    });

    $('.validate-field').on('input', function() {
      validateInput(this);
    });
  });
</script>

{% endblock %}