{% extends 'main/index.html' %}

{% block content %}

<!-- Set div containing buttons to have 0 !important padding top and bottom to align with sidebar -->

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row myProjects-nav-row">
        <!-- Navigation Buttons -->

        <div class="d-flex flex-row justify-content-start">
          <!-- Units of Analysis -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
          </div>
  
          <!-- Codebook -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Codebook</a>
          </div>
  
          <!-- Inter-Rater Reliability -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
          </div>
  
          <!-- Sample & Results -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
          </div>
  
          <!-- Edit Project -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
          </div>
  
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row mb-2 px-2">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-12 px-3">

          <!-- Codebook Protocol -->
          <blockquote class="blockquote">
            <p>{{ project.codebook_protocol }} 
              {% if pi %}
              <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editProtocol">
                <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
              </button>
              {% endif %}
            </p>
          </blockquote>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row px-1">
        <!-- Add Variable -->
      
        <div class="d-flex flex-row justify-content-start">
      
          <!-- Check if User can Add Variables -->
          {% if has_edit_permission %}
          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-success mb-2" id="add-btn" href="{% url 'main:myProjects_addVariable' project.project_id %}"><i class="bi bi-plus-circle"></i> Add Coding Variable</a>
          </div>
          {% endif %}
      
        </div>
      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row">

          <!-- Check if Project has Variables -->
          {% if coding_variables %}
            {% include 'main/includes/myProjects/codebookTable.html' %}
          <!-- If no Variables -->
          {% else %}
            <blockquote class="blockquote text-center">
              <p>Start by adding coding variables.</p>
            </blockquote>
          {% endif %}

      </div>

    </div>

  </div>
  
</div>





{% if pi %}
<!-- Edit Codebook Protocol Modal -->
<div class="modal fade" id="editProtocol" tabindex="-1" aria-labelledby="editProtocolLabel" aria-hidden="true">
  <form method="post">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editProtocolLabel">Edit Codebook Protocol</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <textarea class="form-control border-0" name="codebook-protocol" id="codebook-protocol" rows="3">{{ project.codebook_protocol }}</textarea>
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

{% endblock %}