{% extends 'main/index.html' %}

{% block content %}

<!-- Delete Variable Modal CSS -->
<style>
  .icon-link.custom-hover {
    color: var(--bs-secondary); /* default gray */
    transition: color 0.2s ease;
  }

  .icon-link.custom-hover:hover {
    color: var(--bs-danger); /* red */
  }
</style>


<!-- Set div containing buttons to have 0 !important padding top and bottom to align with sidebar -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% load static %}
<link href="{% static 'css/dataviz-quill.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="d-flex flex-nowrap" style="width: 100%;">

    <!-- Row 1 Column 1 -->
    <div class="d-none d-sm-block sidebar-style" style="flex: 0 0 auto;">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="flex-grow-1 d-flex flex-column" style="min-width: 0;">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row myProjects-nav-row">
        <!-- Navigation Buttons -->
        {% include 'main/includes/myProjects/navbuttons.html' %}
      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row mb-2 px-2">

        <!-- Row 1 Column 2 Row 3 Column 1 -->
        <div class="col-12 px-3">
          <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
            <!-- Codebook Protocol -->
            <blockquote class="blockquote overflow-y-auto" style="height: 6rem;">
              {% if protocol %}
                <span>{{ protocol|safe }}</span>
              {% else %}
                <span>
                  <p>Start by clicking the pencil icon to add coding procedures and guidelines to your codebook protocol documentation. <strong>The codebook protocol can be viewed by all team members.</strong>
                  <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editProtocol">
                    <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
                  </button>
                  </p>
                  A <strong>codebook protocol summary</strong> outlines the rules and procedures governing the coding process. These instructions should outline for coders how to assess the units of analysis, establish the
                  project's codification standards, and provide general guidelines on interpreting and applying codes to units. These details help eliminate coding errors and ensure that coders analyze units
                  consistently, thereby improving intercoder reliability. For more information related to codebook protocol summaries, please see 
                  <a target="_blank" href="https://www.routledge.com/Analyzing-Media-Messages-Using-Quantitative-Content-Analysis-in-Research/Riffe-Lacy-Watson-Lovejoy/p/book/9781032264677?source=shoppingads&locale=en-USD">Riffe and colleagues (2024)</a> 
                  textbook on analyzing media messages.
                </span>
              {% endif %}
            </blockquote>
          </div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-1">
        <!-- Sort -->

        <div class="d-flex flex-row justify-content-between">
      
          <!-- Sort -->
          <div class="p-2" style="max-width:25rem; min-width: auto;">
            <form method="get">
              <div class="dropdown" style="position: relative; z-index: 1041;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort Variables <i class="bi bi-arrow-down-up"></i></button>
                <ul class="dropdown-menu">
                  <!-- Sort Options -->
                  <li><a class="dropdown-item" href="?sort=variable_rank">Ascending Number <i class="bi bi-sort-numeric-down"></i></a></li>
                  <li><a class="dropdown-item" href="?sort=-variable_rank">Descending Number <i class="bi bi-sort-numeric-up"></i></a></li>
                  <li><a class="dropdown-item" href="?sort=variable_name">Variable Name <i class="bi bi-sort-alpha-down"></i></a></li>
                  <li><a class="dropdown-item" href="?sort=-variable_name">Descending Name <i class="bi bi-sort-alpha-up"></i></a></li>
                  <li><a class="dropdown-item" href="?sort=-timestamp">Last Modified <i class="bi bi-calendar-plus"></i></a></li>
                </ul>
              </div>
            </form>
          </div>

          {% if pi %}
          <div class="p-2" style="max-width:25rem; min-width: auto;">
            <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#editProtocol">Edit Protocol <i class="bi bi-pencil pencil-edit" fill="currentColor"></i></button>
          </div>
          {% endif %}

        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-4">
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <!-- Check if Project has Variables -->
          {% if coding_variables %}
            {% include 'main/includes/myProjects/codebookTable.html' %}
          <!-- If no Variables -->
          {% else %}
            <blockquote class="blockquote text-center">
              <p>Start by adding coding variables.</p>
            </blockquote>
          {% endif %}
        </div>

      </div>

      <!-- Row 2 Column 2 Row 4 -->
      <div class="row px-1">
        <!-- Add Variable -->
      
        <div class="d-flex flex-row justify-content-start">
      
          <!-- Check if User can Add Variables -->
          {% if has_edit_permission %}
          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-success mb-2" id="add-btn" href="{% url 'main:myProjects_addVariable' project.project_id %}"><i class="bi bi-plus-circle"></i> Add Variable</a>
          </div>

          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#editVarOrder"><i class="bi bi-list-ol"></i> Edit Variable Order</button>
          </div>

          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <button type="button" class="btn btn-secondary"><i class="bi bi-download"></i> Export Codebook</button>
          </div>
          {% endif %}
      
        </div>
      </div>

    </div>

  </div>
  
</div>


{% if pi %}
<!-- Edit Codebook Protocol Modal -->
<div class="modal fade" id="editProtocol" tabindex="-1" aria-labelledby="editProtocolLabel" aria-hidden="true">
  <form id="quill-form" method="post">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editProtocolLabel">Edit Codebook Protocol</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <div id="editor" style="height: 30rem;">
          </div>
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>



<!-- Edit Variable Order Modal -->
<div class="modal fade" id="editVarOrder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editVarOrderLabel" aria-hidden="true">
  <form id="reorder-form" method="post" action="{% url 'main:myProjects_codebook' project.project_id %}">
    {% csrf_token %}
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editVarOrderLabel">Edit Variable Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="reordered_ids" id="reordered-ids">
          <!-- Input -->
          {% include 'main/includes/myProjects/codebookVarOrder.html' %}
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" id="save-btn" onclick="submitReorder()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}



{{ protocol|default:""|json_script:"initial-data" }}
{% load static %}
<script src="{% static 'js/dataviz-quill.js' %}"></script>

<script>
  function submitReorder() {
    const modalTable = document.querySelector("#editVarOrder tbody"); // only look inside the modal
    const rows = modalTable.querySelectorAll("tr");
    const ids = [];

    rows.forEach(row => {
      const variableId = row.getAttribute("data-variable-id");
      if (variableId) {
        ids.push(variableId);
      }
    });

    document.getElementById("reordered-ids").value = ids.join(",");
    document.getElementById("reorder-form").submit();
  }
</script>

{% endblock %}