{% extends 'main/index.html' %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% load static %}
<link href="{% static 'css/dataviz-quill.css' %}" rel="stylesheet">

<div class="container-fluid" style="height: 88vh;">

  <!-- Title -->
  <div class="row ps-3">
    <div class="col">
      <h3>Platform: {{ doc_source }}</h3>
    </div>
  </div>


  <div class="row mb-3 text-center px-3">


      <!-- Post Text -->
      <div class="col-md-6 themed-grid-col">

        <!-- Unit, MetaData & JSON -->
        <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active dataviz-sub-header" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Unit</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link dataviz-sub-header" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Metadata</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link dataviz-sub-header" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">JSON</button>
                </li>
              </ul>
            </div>
            <div class="card-body" style="min-height: 15rem !important; max-height: 15rem !important; overflow-y: auto;">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><p class="card-text user-select-none text-start text-break">{{ doc_text }}</p></div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"><p class="card-text user-select-none text-start text-break">{{ created_at }}</p></div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0"><p class="card-text user-select-none text-start text-break">{{ doc_json }}</p></div>
              </div>
            </div>
          </div>
        </div>

        <!-- General Comment on Unit -->
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              General Comment on Unit
            </div>
            <div class="card-body p-0" style="height: 15rem !important;">
              <form id="quill-form" method="post">
                {% csrf_token %}
                <div id="editor" style="height: 12rem;">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <!-- Coding Variables -->
      <div class="col-md-6 themed-grid-col">

        <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active dataviz-sub-header" id="codesheet-tab" data-bs-toggle="tab" data-bs-target="#codesheet-tab-pane" type="button" role="tab" aria-controls="codesheet-tab-pane" aria-selected="true">Coding Sheet</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link dataviz-sub-header" id="codebook-tab" data-bs-toggle="tab" data-bs-target="#codebook-tab-pane" type="button" role="tab" aria-controls="codebook-tab-pane" aria-selected="false">Codebook</button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="myTabContent">



                <!-- Coding Sheet -->

                <div class="tab-pane fade show active" id="codesheet-tab-pane" role="tabpanel" aria-labelledby="codesheet-tab" tabindex="0">
                  <div class="card" style="width: 100%;">
                    <form method="post">
                      {% csrf_token %}
                      <div class="card-header dataviz-sub-header">{{ project.project_name }}
                        <button type="button" class="btn px-0 pt-0 pb-1" data-bs-toggle="modal" data-bs-target="#codingProto">
                          <i class="bi bi-info-circle text-info"></i>
                        </button>
                      </div>
                      <div class="card-body mx-auto" style="max-height: 25rem !important; overflow-y: auto;">
        
                      <!-- Create a tuple of the variable name and value within the views.py function in order to output both in the nested for loop -->
        
                      {% for variable in coding_outputs %}
                        <ul class="list-group">
                          <li class="list-group-item flex-fill list-group-item-light">{{ variable.variable_name }}</li>
        
                            <ul class="list-group list-group-horizontal">
                              {% for value in variable.values %}
                                <li class="list-group-item flex-fill">
                                  <input class="form-check-input me-1" type="radio" name="{{ variable.variable_name }}" value="{{ value.value }}" id="{{ variable.variable_name }}_{{ value.value }}" {% if value.selected %}checked{% endif %}>
                                  <label class="form-check-label" for="{{ variable.variable_name }}_{{ value.value }}">{{ value.label }}</label>
                                </li>
                              {% endfor %}
                            </ul>
        
                        </ul>
                      {% endfor %}
        
                      </div>
                      <div class="card-footer">
                        <div class="d-flex px-3">
                          <!-- This should probably just refresh the page? Right now it actually *submits* the values and saves them -->
                          <button type="submit" class="btn btn-danger">Reset Codes <i class="bi bi-arrow-counterclockwise"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>



                <!-- Code Book -->
              
                <div class="tab-pane fade" id="codebook-tab-pane" role="tabpanel" aria-labelledby="codebook-tab" tabindex="0">

                  <div class="accordion" id="accordion-codebook" style="max-height: 25rem !important; overflow-y: auto;">

                    {% for variable in coding_outputs %}

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ variable.variable_name }}" aria-expanded="true" aria-controls="collapse-{{ variable.variable_name }}">
                          {{ variable.variable_name }}
                        </button>
                      </h2>
                      <div id="collapse-{{ variable.variable_name }}" class="accordion-collapse collapse" data-bs-parent="#accordion-codebook">
                        <div class="accordion-body">
                          <p class="text-start text-break">
                            <strong>Description:</strong>
                            {{ variable.variable_description }}
                          </p>
                    
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                          
                            <tbody>
                              {% for value in variable.values %}
                              <tr>
                                <td style="width:20%" class="text-start">{{ value.label }}</td>
                                <td style="width:80%" class="text-start">{{ value.example }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    
                    {% endfor %}

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Navigation Buttons -->
        <div class="row justify-content-between">

          <div class="d-grid gap-2 d-md-flex justify-content-between">
            <button class="btn btn-secondary ms-3" type="button">Previous</button>
            <button class="btn btn-secondary me-5" type="button">Next</button>
          </div>

        </div>

      </div>

  </div>



</div>



<!-- External Link Modal -->
<div class="modal fade" id="externalLinkModal" tabindex="-1" aria-labelledby="externalLinkModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="externalLinkModalLabel"><i class="bi bi-exclamation-circle-fill"></i> Alert!
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">This is an external link and its safety and authenticity can not be confirmed,
          proceed with caution.</div>
        <span class="modal-link-clickable"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Coding Protocol Modal -->
<div class="modal fade" id="codingProto" tabindex="-1" aria-labelledby="codingProtoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="codingProtoLabel">Coding Protocol</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ project.codebook_protocol }}</p>
      </div>
    </div>
  </div>
</div>



{{ general_comment|default:""|json_script:"initial-data" }}
{% load static %}
<script src="{% static 'js/dataviz-quill.lite.js' %}"></script>

{% load static %}
<script src="{% static 'js/urlModal.js' %}"></script>

{% endblock %}