{% extends 'main/index.html' %}

{% block content %}

<div class="container-fluid" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content w-auto">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <!-- Page Title -->
        <h2 class="border-bottom">{{ project.project_name }} Codebook</h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-1" style="height: 6vh;">

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Codebook</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
        </div>

        <div class="col-2">
          <div class="d-none">placeholder</div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row p-1" style="max-height: 12vh;">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-12">

          <!-- Codebook Protocol -->
          <blockquote class="blockquote">
            <p>{{ project.codebook_protocol }} 
              {% if pi %}
              <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editProtocol">
                <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
              </button>
              {% endif %}
            </p>
          </blockquote>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row pb-1 px-1" style="height: 6vh;">

        <!-- Add Coding Variable -->
        <div class="col-2">
          {% if has_edit_permission %}
            <a class="btn btn-success mb-2" id="add-btn" href="{% url 'main:myProjects_addVariable' project.project_id %}"><i class="bi bi-plus-circle"></i> Add Coding Variable</a>
          {% endif %}
        </div>

        <div class="col-10">
          <div class="d-none">placeholder</div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row" style="height: 64vh;">

        <!-- Table of Variables -->
        <div class="col">
          {% if coding_variables %}
            {% include 'main/includes/myProjects/codebookTable.html' %}
          {% else %}
            <blockquote class="blockquote text-center">
              <p>Start by adding variables.</p>
            </blockquote>
          {% endif %}
        </div>

      </div>

    </div>
  </div>
</div>





{% if pi %}
<!-- Edit Codebook Protocol Modal -->
<div class="modal fade" id="editProtocol" tabindex="-1" aria-labelledby="editProtocolLabel" aria-hidden="true">
  <form method="post">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editProtocolLabel">Edit Codebook Protocol</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <textarea class="form-control border-0" name="codebook-protocol" id="codebook-protocol" rows="3">{{ project.codebook_protocol }}</textarea>
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

{% endblock %}