{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <!-- Page Title -->
        <h2 class="border-bottom">
          Edit {{ project.project_name }} 
          {% if pi %}
            <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editProjectName">
              <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
            </button>
          {% endif %}
        </h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-1" style="height: 6vh;">

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Edit Project</a>
        </div>

        <div class="col-2">
          <div class="d-none">placeholder</div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row p-1" style="max-height: 12vh;">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-12">

          <!-- Display Project Description -->
          <blockquote class="blockquote">
            <p>{{ project.project_description }} 
              {% if pi %}
                <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editDescription">
                  <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
                </button>
              {% endif %}
            </p>
          </blockquote>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row pb-1 px-1" style="height: 6vh;">
        <div class="col-2">

          <!-- Invite Users Modal -->
          {% if has_addedit_permission %}
            {% include 'main/includes/myProjects/inviteUserModal.html' %}
          {% endif %}
        </div>

        <div class="col-6">
          <div class="d-none">placeholder</div>
        </div>

        <div class="col-2">

          <!-- Download Project Data Modal -->
          {% if has_download_permission %}
            <a class="btn btn-info w-100 my-1 pb-2 text-truncate overflow-hidden" role="button" aria-label="Download Project Data"><i class="bi bi-download"></i> Download Project Data</a>
          {% endif %}
        </div>

        <div class="col-2">

          <!-- Delete Project Modal -->
          {% if has_delete_permission %}
            {% include 'main/includes/myProjects/deleteProjectModal.html' %}
          {% endif %}
        </div>
      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row" style="height: 70vh;">

        <div class="col px-3">

          <!-- Table of Users -->
          {% include 'main/includes/myProjects/usersTable.html' %}

        </div>

      </div>

    </div>

  </div>
</div>




{% if pi %}
<!-- Edit Project Title Modal -->
<div class="modal fade" id="editProjectName" tabindex="-1" aria-labelledby="editProjectNameLabel" aria-hidden="true">
  <form method="post">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editProjectNameLabel">Edit Project Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <input type="text" class="form-control border-0" name="project-name" id="project-name" placeholder="Project Name" aria-label="Project Name" value="{{ project.project_name }}">
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>





<!-- Edit Project Description Modal -->
<div class="modal fade" id="editDescription" tabindex="-1" aria-labelledby="editDescriptionLabel" aria-hidden="true">
  <form method="post">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editDescriptionLabel">Edit Project Description</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <textarea class="form-control border-0" name="project-description" id="project-description" rows="3">{{ project.project_description }}</textarea>
          <small class="text-body-secondary">Project descriptions are public and shared with users when invited.</small>
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

{% endblock %}