{% extends 'main/index.html' %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% load static %}
<link href="{% static 'css/dataviz-quill.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->
       
      <form id="quill-form" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Store Edit Action -->
        <input type="text" class="form-control d-none" name="edit-action" id="edit-action" value="">

        <!-- Row 1 Column 2 Row 1 -->
        <div class="row myProjects-nav-row">
          <!-- Return Button -->

          <div class="d-flex flex-row">
            <!-- Return to Codebook -->
            <div class="myProjects-nav-div me-auto">
              <a type="submit" class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" id="edit-return" href="{% url 'main:myProjects_codebook' project.project_id %}"><i class="bi bi-arrow-left"></i> Codebook</a>
            </div>

            <!-- Save Variable -->
            <div class="myProjects-nav-div">
              <button type="submit" class="btn btn-success myProjects-nav-a text-truncate overflow-hidden" id="save-variable"><i class="bi bi-floppy"></i> Save Variable</button>
            </div>

            <!-- Add Another Variable -->
            <div class="myProjects-nav-div">
              <button type="submit" class="btn btn-warning myProjects-nav-a text-truncate overflow-hidden" id="cancel-variable"><i class="bi bi-x-octagon"></i> Cancel Changes</button>
            </div>
    
            <!-- Cancel -->
            <div class="myProjects-nav-div">
              <button type="button" class="btn btn-danger myProjects-nav-a text-truncate overflow-hidden" id="delete-variable-modal" data-bs-toggle="modal" data-bs-target="#deleteVariableModal"><i class="bi bi-exclamation-circle"></i> Delete Variable</button>
            </div>

          </div>

        </div>

        <!-- Row 1 Column 2 Row 2 -->
        <div class="row text-center" style="height: 3rem;">
          <h2 class="border-bottom">Edit {{ variable.variable_name }} in {{ project.project_name }}</h2>
        </div>

        <!-- Row 1 Column 2 Row 3-->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 3 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">
            <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
              <!-- Variable Name -->
              <div class="input-group flex-nowrap">
                <span class="input-group-text bg-secondary text-white" id="variable-wrapping">Variable Name
                  <button type="button" class="btn p-0 ps-1" data-bs-toggle="modal" data-bs-target="#variableNameModal">
                    <i class="bi bi-info-circle text-info"></i>
                  </button>
                </span>

                <input type="text" class="form-control validate-field" name="variable-name" id="variable-name" placeholder="Name" aria-label="Variable Name" aria-describedby="variable-wrapping" value="{{ variable.variable_name }}">
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 4 -->
        <div class="row px-2 justify-content-center">

          <!-- Row 1 Column 2 Row 4 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">
            <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
              <!-- Variable Description -->
              <div class="input-group">
                <span class="input-group-text bg-secondary text-white">Variable Description</span>
                <div name="quill-container">
                  <div id="editor" style="height: 5rem; width: 50rem;"></div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 5 -->
        <div class="row px-4">

          <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
            {% include 'main/includes/myProjects/editVariableTable.html' %}
          </div>

        </div>

        <!-- Row 1 Column 2 Row 6 -->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 6 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-end">
            <div>
              <!-- Variable Name -->
              <div class="input-group flex-nowrap">
                <button type="button" class="btn btn-success p-1" id="add-btn" style="width: 6rem;">Add Value</button>
              </div>
            </div>
          </div>

        </div>

        <!-- Row 1 Column 2 Row 7 -->
        <div class="row px-2">

          <!-- Row 1 Column 2 Row 7 Column 1 -->
          <div class="d-flex flex-row px-3 justify-content-center">

            <div class="d-flex flex-column px-3">
              <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                <!-- Level of Measurement -->
                <div class="input-group flex-nowrap">
                  <label class="input-group-text bg-secondary text-white" for="variable-measure">Level of Measurement
                    <button type="button" class="btn p-0 ps-1" data-bs-toggle="modal" data-bs-target="#variableMeasureModal">
                      <i class="bi bi-info-circle text-info"></i>
                    </button>
                  </label>
                  <select class="form-select" name="variable-measure" id="variable-measure">
                    {% for measure in measurements %}
                      <option value="{{ measure }}">{{ measure }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <!-- Row 1 Column 2 Row 8 Column 1 -->
            <div class="d-flex flex-column px-3">
              <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
                <!-- Variable Comment -->
                <div class="input-group flex-nowrap">
                  <label class="input-group-text bg-secondary text-white" for="variable-comment">Variable Comment
                    <button type="button" class="btn p-0 ps-1" data-bs-toggle="modal" data-bs-target="#variableCommentModal">
                      <i class="bi bi-info-circle text-info"></i>
                    </button>
                  </label>
                  <select class="form-select" name="variable-comment" id="variable-comment">
                      <option value="variable-comment-yes">Yes</option>
                      <option value="variable-comment-no">No</option>
                  </select>
                </div>
              </div>
            </div>

          </div>

        </div>
      
      </form>
    </div>

  </div>

</div>

<!-- Load Info Modals -->
{% include 'main/includes/myProjects/addEditModals.html' %}

{{ variable.variable_description|default:""|json_script:"initial-data" }}
{% load static %}
<script src="{% static 'js/dataviz-quill.js' %}"></script>

<!-- Load addEditVariable JS -->
{% load static %}
<script src="{% static 'js/addEditVariable.js' %}"></script>

{% endblock %}