{% extends 'main/index.html' %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% load static %}
<link href="{% static 'css/dataviz-quill.css' %}" rel="stylesheet">

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="d-flex flex-nowrap" style="width: 100%;">

    <!-- Row 1 Column 1 -->
    <div class="d-none d-sm-block sidebar-style" style="flex: 0 0 auto;">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="flex-grow-1 d-flex flex-column" style="min-width: 0;">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row myProjects-nav-row">
        <!-- Navigation Buttons -->
        {% include 'main/includes/myProjects/navbuttons.html' %}
      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row mb-2 px-2">

        <!-- Row 1 Column 2 Row 3 Column 1 -->
        <div class="col-12 px-3">
          <div class="shadow-sm p-3 mb-2 bg-body-tertiary rounded">
            <!-- Codebook Protocol -->
            <blockquote class="blockquote overflow-y-auto" style="max-height: 9rem;">
              <span>{{ project.project_description|safe }} 
                {% if pi %}
                <button type="button" class="btn p-0 m-0 b-0" data-bs-toggle="modal" data-bs-target="#editDescription">
                  <i class="bi bi-pencil text-secondary" fill="currentColor"></i>
                </button>
                {% endif %}
              </span>
            </blockquote>
          </div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row px-1">
        <!-- Add Variable -->
      
        <div class="d-flex flex-row justify-content-between">
      
          <!-- Check if User can Add Variables -->
          {% if has_addedit_permission %}
          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <!-- Invite Users Modal -->
            {% if has_addedit_permission %}
              {% include 'main/includes/myProjects/inviteUserModal.html' %}
            {% endif %}
          </div>
          {% endif %}

          <div class="px-2 float-end" style="max-width: 36rem; min-width: 10rem;">

            <!-- Download Project Data Modal -->
            {% if has_download_permission %}
              <a class="btn btn-info mb-2" role="button" aria-label="Download Project Data"><i class="bi bi-download"></i> Download Project Data</a>
            {% endif %}

            <!-- Delete Project Modal -->
            {% if has_delete_permission %}
              {% include 'main/includes/myProjects/deleteProjectModal.html' %}
            {% endif %}
          </div>
      
        </div>
      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row px-4">

        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          {% include 'main/includes/myProjects/usersTable.html' %}
        </div>

      </div>

    </div>

  </div>
  
</div>

{% if pi %}
<!-- Edit Project Title Modal -->
<div class="modal fade" id="editProjectName" tabindex="-1" aria-labelledby="editProjectNameLabel" aria-hidden="true">
  <form method="post">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editProjectNameLabel">Edit Project Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <input type="text" class="form-control border-0" name="project-name" id="project-name" placeholder="Project Name" aria-label="Project Name" value="{{ project.project_name }}">
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>





<!-- Edit Project Description Modal -->
<div class="modal fade" id="editDescription" tabindex="-1" aria-labelledby="editDescriptionLabel" aria-hidden="true">
  <form id="quill-form" method="post">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title -->
          <h1 class="modal-title fs-5" id="editDescriptionLabel">Edit Project Description</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Input -->
          <div id="editor" style="height: 30rem;">
          </div>
          <textarea name="project-description" id="project-description" style="display: none;"></textarea>
          <small class="text-body-secondary">Project descriptions are public and shared with users when invited.</small>
        </div>
        <div class="modal-footer">
          <!-- Cancel & Save Buttons -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

{{ project.project_description|default:""|json_script:"initial-data" }}

{% load static %}
<script src="{% static 'js/dataviz-quill.js' %}"></script>

{% endblock %}