{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <h2 class="border-bottom">{{ project.project_name }} Inter-Rater Reliability</h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-1" style="height: 6vh;">

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Inter-Rater Reliability</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
        </div>

        <div class="col-2">
          <div class="d-none">placeholder</div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row justify-content-center" style="height: 82vh;">

        <canvas id="myChart"></canvas>

      </div>

    </div>

  </div>
</div>

<script>
  var barChartData = {
    labels: [
      "Relevance",
      "News",
      "G_misinfo",
      "GC_misinfo",
      "V_misinfo",
    ],
    datasets: [
      {
        label: "Cohen's Kappa",
        backgroundColor: "#642F6C",
        borderColor: "#642F6C",
        borderWidth: 1,
        data: [0.6, 0.4, 0.65, 0.85, 0.25]
      },
      {
        label: "Percentage",
        backgroundColor: "#007FA3",
        borderColor: "#007FA3",
        borderWidth: 1,
        data: [0.8, 0.25, 0.8, 0.65, 0.6]
      }
    ]
  };

  var chartOptions = {
    responsive: true,
    plugins: {
      legend: {
        position: "bottom",
        display: true,
        labels: {
          color: 'rgb(0, 0, 0)'
        }
      },
      title: {
        display: true,
        text: "Inter Rater Reliability",
        color: 'rgb(0, 0, 0)', // Set the title font color to black
        font: {
          size: 20
        }
      }
    },
    scales: {
      x: {
        title: {
          display: true,
          text: "Coding Variables",
          color: 'black',
          font: {
            size: 16,
          }
        },
        ticks: {
          color: 'rgb(0, 0, 0)' // Set the x-axis labels color to black
        }
      },
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: "Score",
          color: 'black',
          font: {
            size: 16,
          }
        },
        ticks: {
          color: 'black' // Set the y-axis labels color to black
        }
      }
    }
  };

  window.onload = function () {
    var ctx = document.getElementById("myChart").getContext("2d");
    window.myBar = new Chart(ctx, {
      type: "bar",
      data: barChartData,
      options: chartOptions
    });
  };
</script>


{% endblock %}