{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <h2 class="border-bottom">{{ project.project_name }} Samples & Results</h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-1" style="height: 6vh;">

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Sample & Results</a>
        </div>

        <div class="col-2">
          <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
        </div>

        <div class="col-2">
          <div class="d-none">placeholder</div>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row p-1" style="height: 6vh;">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-8">
          <div class="d-none">placeholder</div>
        </div>

        <!-- Row 1 Column 2 Row 3 Column 2-->
        <div class="col-4">
          <form>

            <div class="input-group mb-3">
              <span class="input-group-text" id="filter-label">Filter</span>
              <input type="text" class="form-control" placeholder="Filter..." aria-label="Filter" aria-describedby="filter-label">
            </div>

          </form>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row pb-1 px-1" style="height: 6vh;">
        
        <div class="col-8">
          <div class="d-none">placeholder</div>
        </div>

        <div class="col-2">
          <a class="btn btn-info w-100 my-1 pb-2 text-truncate overflow-hidden" role="button" aria-label="Download Project Data"><i class="bi bi-download"></i> Download Project Data</a>
        </div>

        <div class="col-2">
          <!-- <a class="btn btn-danger w-100 my-1 text-truncate overflow-hidden" role="button" aria-label="Delete Project" href="#">Delete Project</a> -->
          {% include 'main/includes/myProjects/deleteProjectModal.html' %}
        </div>
      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row" style="height: 64vh;">

        <div class="col px-3">



        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}