{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row myProjects-nav-row">
        <!-- Navigation Buttons -->

        <div class="d-flex flex-row justify-content-start">
          <!-- Units of Analysis -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_units' project.project_id %}">Units of Analysis</a>
          </div>
  
          <!-- Codebook -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
          </div>
  
          <!-- Inter-Rater Reliability -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Coding Progress & IRR</a>
          </div>
  
          <!-- Sample & Results -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Sample & Results</a>
          </div>
  
          <!-- Edit Project -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project & Users</a>
          </div>
  
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-1">
        <!-- Search -->

        <div class="d-flex flex-row justify-content-end">

          <!-- Search -->
          <div class="p-2 w-100" style="max-width:25rem; min-width: auto;">
            <!-- Search -->
            <form method="get">
              <div class="input-group">
                {% if query %}
                  <!-- Populate Search Input if Search -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search..." value="{{ query }}">
                {% else %}
                  <!-- Empty Search Input -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search...">
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row px-1">
        <!-- Add Variable -->
      
        <div class="d-flex flex-row justify-content-end">
      
          <div class="px-2" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-info mb-2" role="button" aria-label="Download Project Data"><i class="bi bi-download"></i> Download Project Data</a>
          </div>
      
        </div>
      </div>

      <!-- Row 1 Column 2 Row 5 -->
      <div class="row" style="height: 64vh;">

        <div class="col px-3">



        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}