{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- {\% include 'main/includes/pageTitle.html' %\} -->

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block sidebar-style">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 2 -->

        <!-- Navigation Buttons -->

        <div class="d-flex flex-row justify-content-start myProjects-nav-row" style="padding-left: 0rem !important;">
          <!-- Units of Analysis -->
          <div class="myProjects-nav-div" style="padding-left: 0 !important">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Units of Analysis</a>
          </div>
  
          <!-- Codebook -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
          </div>
  
          <!-- Inter-Rater Reliability -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
          </div>
  
          <!-- Sample & Results -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
          </div>
  
          <!-- Edit Project -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
          </div>
  
        </div>



      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-1">
        <!-- Filter & Search -->

        <div class="d-flex flex-row justify-content-end">
      
          <!-- Filter -->
          <div class="p-2 w-100" style="max-width:35rem; min-width: auto;">
            <form method="get">
              <div class="input-group">
                <!-- Filter Dropdown 1 -->
                <label class="input-group-text" for="inputGroupSelect01">Filter</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">My Assigned Units</option>
                  <option value="2">Assignments by Coder</option>
                </select>
                <!-- Filter Dropdown 2 -->
                <label class="input-group-text" for="inputGroupSelect01">by</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">Incomplete Units</option>
                  <option value="2">In-Progress Units</option>
                  <option value="3">Complete Units</option>
                </select>
              </div>
            </form>
          </div>

          <!-- Search -->
          <div class="p-2 w-100" style="max-width:25rem; min-width: auto;">
            <!-- Search -->
            <form method="get">
              <div class="input-group">
                {% if search_query %}
                  <!-- Populate Search Input if Search -->
                  <input type="text" class="form-control" name="search_query" id="searchBar" placeholder="Search..." value="{{ search_query }}">
                {% else %}
                  <!-- Empty Search Input -->
                  <input type="text" class="form-control" name="search_query" id="searchBar" placeholder="Search...">
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row" style="padding-left: 0 !important;">
        
        <!-- Units Table -->
        <div class="table-responsive py-0 pe-0 m-0">
          <table class="table table-striped table-hover mb-0">

            <!-- Units Table Column Headers -->
            <thead>
              <tr>
                <th>Unit ID</th>
                <th>Unit</th>
                <th>Source</th>
                <th>Assigned</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Last modified by</th>
              </tr>
            </thead>

            <!-- Units Table Rows -->
            <tbody class="table-group-divider">

              {% for unit in units %}
              <!-- Loop through Post -->
              <tr>
                <!-- Unit ID -->
                <td><a class="btn btn-secondary" href="{% url 'main:myProjects_codeUnit' project.project_id unit.id %}">{{ unit.id }}</a></td>

                <!-- Source -->
                <td>{{ unit.doc_text|truncatechars:50 }}</td>

                <!-- Source -->
                <td>{{ unit.doc_source }}</td>

                <!-- Assigned -->
                <td>User</td>

                <!-- Status -->
                <td><i class="bi bi-circle text-danger"></i></td>

                <!-- Last Modified -->
                <td>{{ unit.created_at }}</td>

                <!-- Last Modified -->
                <td>User</td>
                
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

</div>


<!-- Status Icons -->
<!-- <td><i class="bi bi-circle text-danger"></i></td> -->
<!-- <td><i class="bi bi-circle-half text-warning"></i></td> -->
<!-- <td><i class="bi bi-circle-fill text-success"></i></td> -->
<!-- Don't forget to add info button -->

{% endblock %}