{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- {\% include 'main/includes/pageTitle.html' %\} -->

  <!-- Row 1 -->
  <div class="d-flex flex-nowrap" style="width: 100%;">

    <!-- Row 1 Column 1 -->
    <div class="d-none d-sm-block sidebar-style" style="flex: 0 0 auto;">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="flex-grow-1 d-flex flex-column" style="min-width: 0;">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row myProjects-nav-row">
        <!-- Navigation Buttons -->

        <div class="d-flex flex-row justify-content-start">
          <!-- Units of Analysis -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Units of Analysis</a>
          </div>
  
          <!-- Codebook -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
          </div>
  
          <!-- Inter-Rater Reliability -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Coding Progress & IRR</a>
          </div>
  
          <!-- Sample & Results -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
          </div>
  
          <!-- Edit Project -->
          <div class="myProjects-nav-div">
            <a class="btn btn-secondary myProjects-nav-a text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project & Users</a>
          </div>
  
        </div>

      </div>



      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-1">
        <!-- Filter & Search -->

        <div class="d-flex flex-row justify-content-end">
      
          <!-- Filter -->
          <div class="p-2 w-100" style="max-width:35rem; min-width: auto;">
            <form method="get">
              <div class="input-group">
                <!-- Filter Dropdown 1 -->
                <label class="input-group-text" for="inputGroupSelect01">Filter</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">My Assigned Units</option>
                  <option value="2">Assignments by Coder</option>
                </select>
                <!-- Filter Dropdown 2 -->
                <label class="input-group-text" for="inputGroupSelect01">by</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">Incomplete Units</option>
                  <option value="2">In-Progress Units</option>
                  <option value="3">Complete Units</option>
                </select>
              </div>
            </form>
          </div>

          <!-- Search -->
          <div class="p-2 w-100" style="max-width:25rem; min-width: auto;">
            <!-- Search -->
            <form method="get">
              <div class="input-group">
                {% if search_query %}
                  <!-- Populate Search Input if Search -->
                  <input type="text" class="form-control" name="search_query" id="searchBar" placeholder="Search..." value="{{ search_query }}">
                {% else %}
                  <!-- Empty Search Input -->
                  <input type="text" class="form-control" name="search_query" id="searchBar" placeholder="Search...">
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row px-4">
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <!-- Check if Project has Variables -->
          {% if units %}
            {% include 'main/includes/myProjects/unitTable.html' %}
          <!-- If no Variables -->
          {% else %}
            <blockquote class="blockquote text-center">
              <p>No units currently assigned.</p>
            </blockquote>
          {% endif %}
        </div>

        <div class="row">

          <!-- Pagination -->
          <nav aria-label="pagination">
            <ul class="pagination justify-content-center">

              <!-- Check if Previous -->
              {% if units.has_previous %}

                <!-- First Page -->
                <li class="page-item">
                  <a class="page-link" href="?page=1&search_query={{ request.GET.search_query }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                <!-- Previous Page -->
                <li class="page-item">
                  <a class="page-link" href="?page={{ units.previous_page_number }}&search_query={{ request.GET.search_query }}">Prev</a>
                </li>
              {% else %}

                <!-- Disable Previous Button -->
                <li class="page-item disabled"><a class="page-link">Prev</a></li>
              {% endif %}

              <!-- Iterate +/- 5 Pages -->
              {% for current_page in units.paginator.page_range %}
                {% if current_page <= units.number|add:5 and current_page >= units.number|add:-5 %}

                  <!-- Check if Counter == Current Page -->
                  {% if forloop.counter == units.number %}

                    <!-- Disable Button for Current Page -->
                    <li class="page-item disabled"><a class="page-link" href="#">{{forloop.counter}}</a></li>

                  {% else %}

                    <!-- Button for Page Navigation -->
                    <li class="page-item">
                      <a class="page-link" href="?page={{forloop.counter}}&search_query={{ request.GET.search_query }}">{{forloop.counter}}</a>
                    </li>
                  {% endif %}

                {% endif %}
              {% endfor %}

              <!-- Check if Next -->
              {% if units.has_next %}

                <!-- Next Page -->
                <li class="page-item"><a class="page-link" href="?page={{ units.next_page_number }}&search_query={{ request.GET.search_query }}">Next</a>
                </li>

                <!-- Last Page -->
                <li class="page-item">
                  <a class="page-link" href="?page={{ units.paginator.num_pages }}&search_query={{ request.GET.search_query }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% else %}

                <!-- Disable Next Button -->
                <li class="page-item disabled"><a class="page-link">Next</a></li>
              {% endif %}

            </ul>
          </nav>

        </div>

      </div>

    </div>

  </div>

</div>

{% endblock %}