{% extends 'main/index.html' %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid" style="height: 50rem;">

  <!-- Row 1 -->
  <div class="row">

    <!-- Row 1 Column 1 -->
    <div class="col col-auto d-none d-sm-block text-center px-0" style="width: 8rem;">
      <!-- Sidebar -->
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col">
      <!-- Main Content -->

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 4rem;">
        <!-- Page Title -->
        <h2 class="border-bottom">{{ project.project_name }} Units</h2>
      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row px-1" style="height: 4rem;">
        <!-- Navigation Buttons -->

        <div class="d-flex flex-row justify-content-start">
          <!-- Units of Analysis -->
          <div class="p-2 w-100" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden disabled" role="button" aria-disabled="true" href="#">Units of Analysis</a>
          </div>
  
          <!-- Codebook -->
          <div class="p-2 w-100" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_codebook' project.project_id %}">Codebook</a>
          </div>
  
          <!-- Inter-Rater Reliability -->
          <div class="p-2 w-100" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_irr' project.project_id %}">Inter-Rater Reliability</a>
          </div>
  
          <!-- Sample & Results -->
          <div class="p-2 w-100" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_SampleResults' project.project_id %}">Sample & Results</a>
          </div>
  
          <!-- Edit Project -->
          <div class="p-2 w-100" style="max-width: 18rem; min-width: 5rem;">
            <a class="btn btn-secondary w-100 my-1 pb-2 text-truncate overflow-hidden" href="{% url 'main:myProjects_editProject' project.project_id %}">Edit Project</a>
          </div>
  
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row px-1">
        <!-- Filter & Search -->

        <div class="d-flex flex-row justify-content-end">
      
          <!-- Filter -->
          <div class="p-2 w-100" style="max-width:35rem; min-width: auto;">
            <form method="get">
              <div class="input-group">
                <!-- Filter Dropdown 1 -->
                <label class="input-group-text" for="inputGroupSelect01">Filter</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">My Assigned Units</option>
                  <option value="2">Assignments by Coder</option>
                </select>
                <!-- Filter Dropdown 2 -->
                <label class="input-group-text" for="inputGroupSelect01">by</label>
                <select class="form-select" id="inputGroupSelect01">
                  <!-- Filter Options -->
                  <option selected>All Units</option>
                  <option value="1">Incomplete Units</option>
                  <option value="2">In-Progress Units</option>
                  <option value="3">Complete Units</option>
                </select>
              </div>
            </form>
          </div>

          <!-- Search -->
          <div class="p-2 w-100" style="max-width:25rem; min-width: auto;">
            <!-- Search -->
            <form method="get">
              <div class="input-group">
                {% if query %}
                  <!-- Populate Search Input if Search -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search..." value="{{ query }}">
                {% else %}
                  <!-- Empty Search Input -->
                  <input type="text" class="form-control" name="search" id="searchBar" placeholder="Search...">
                {% endif %}
                <!-- Submit Button -->
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>
            </form>
          </div>

        </div>
      </div>

      <!-- Row 1 Column 2 Row 4 -->
      <div class="row">
        
        <!-- Units Table -->
        <div class="table-responsive p-0 m-0">
          <table class="table table-striped table-hover mb-0">

            <!-- Units Table Column Headers -->
            <thead>
              <tr>
                <th>Unit ID</th>
                <th>Unit</th>
                <th>Source</th>
                <th>Assigned</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Last modified by</th>
              </tr>
            </thead>

            <!-- Units Table Rows -->
            <tbody class="table-group-divider">

              <!-- Loop through Post -->
              <tr>
                <!-- Unit ID -->
                <td>1</td>

                <!-- Source -->
                <td>Text</td>

                <!-- Source -->
                <td>Twitter</td>

                <!-- Assigned -->
                <td>User</td>

                <!-- Status -->
                <td><i class="bi bi-circle text-danger"></i></td>

                <!-- Last Modified -->
                <td>Date</td>

                <!-- Last Modified -->
                <td>Add</td>
                
              </tr>

              <!-- Loop through Post -->
              <tr>
                <!-- Unit ID -->
                <td>2</td>

                <!-- Source -->
                <td>Text</td>

                <!-- Source -->
                <td>Twitter</td>

                <!-- Assigned -->
                <td>User</td>

                <!-- Status -->
                <td><i class="bi bi-circle-half text-warning"></i></td>

                <!-- Last Modified -->
                <td>Date</td>

                <!-- Last Modified -->
                <td>Info btn</td>
                
              </tr>

              <!-- Loop through Post -->
              <tr>
                <!-- Unit ID -->
                <td>3</td>

                <!-- Source -->
                <td>Text</td>

                <!-- Source -->
                <td>Twitter</td>

                <!-- Assigned -->
                <td>User</td>

                <!-- Status -->
                <td><i class="bi bi-circle-fill text-success"></i></td>

                <!-- Last Modified -->
                <td>Date</td>

                <!-- Last Modified -->
                <td>User Name</td>
                
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

  </div>

</div>

{% endblock %}