{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <h2 class="border-bottom">Edit {{ user.username }} on {{ project.project_name }}</h2>

      </div>

      <div class="row" style="height: 88vh;">

        <div class="col">
          {% include 'main/includes/myProjects/userProfileModal.html' %}
        </div>

        <div class="col">
          {% include 'main/includes/myProjects/rolesTable.html' %}
        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}