<!-- Included in users.html -->

<!-- Make sure buttons have a padding of 1 -->

<div class="overflow-y-scroll m-0 p-0" style="height: 70vh;">
  <table class="table table-striped table-hover mb-0">

    <!-- User Table Column Headers -->
    <thead class="sticky-top">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">User Role</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <!-- User Table Rows -->
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">Sanreddy</th>
        <td>{% include 'main/includes/users/editUserModal.html' %}</td>
        <td><a href="mailto:sujan.anreddy@ssrc.msstate.edu">sujan.anreddy@ssrc.msstate.edu</a></td>
        <td>{% include 'main/includes/users/deleteUserModal.html' %}</td>
      </tr>
      <tr>
        <th scope="row">MeganR</th>
        <td>{% include 'main/includes/users/editUserModal.html' %}</td>
        <td><a href="mailto:megan@ssrc.msstate.edu">megan@ssrc.msstate.edu</a></td>
        <td>{% include 'main/includes/users/deleteUserModal.html' %}</td>
      </tr>
      <tr>
        <th scope="row">Sra116</th>
        <td>{% include 'main/includes/users/editUserModal.html' %}</td>
        <td><a href="mailto:sra116@msstate.edu">sra116@msstate.edu</a></td>
        <td>{% include 'main/includes/users/deleteUserModal.html' %}</td>
      </tr>
    </tbody>
  </table>
</div>