{% extends 'main/index.html' %}

{% block content %}

<div class="container" style="height: 94vh;">

  <!-- Row 1 -->
  <div class="row" style="height: 94vh;">

    <!-- Row 1 Column 1 -->
    <div class="sidebar col-12 col-sm-auto d-none d-sm-block">
      {% include 'main/includes/sidebar.html' %}
    </div>

    <!-- Row 1 Column 2 -->
    <div class="col content">

      <!-- Row 1 Column 2 Row 1 -->
      <div class="row text-center" style="height: 6vh;">

        <h2 class="border-bottom">Users</h2>

      </div>

      <!-- Row 1 Column 2 Row 2 -->
      <div class="row p-1" style="height: 6vh;">

        <!-- Row 1 Column 2 Row 3 Column 1-->
        <div class="col-8">
          <div class="d-none">placeholder</div>
        </div>

        <!-- Row 1 Column 2 Row 3 Column 2-->
        <div class="col-4">
          <form>

            <div class="input-group mb-3">
              <span class="input-group-text" id="search-label">Search</span>
              <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-label">
            </div>

          </form>
        </div>

      </div>

      <!-- Row 1 Column 2 Row 3 -->
      <div class="row" style="height: 82vh;">

        <div class="col px-3">

          {% include 'user_management/includes/usersTable.html' %}

        </div>

      </div>

    </div>

  </div>
</div>

{% endblock %}