<!-- Included in myProjectsTabs/codebook.html -->

<style>
  #variableTable .hidden_row {
    display: none;
  }
</style>

<!-- Add edit button back in and have all of the action buttons
 on the right side of the table. -->
<!-- Fix box around trashcan icon -->
<!-- Fix hover color on expand arrow and trash can when selected by keyboard -->

<div class="table-responsive myProjects-t myProjects-t-25" style="overflow-y: auto;">

  <!-- Variable Table -->
  <table class="table table-striped table-hover mb-0" id="variableTable" style="min-width: 1000px;">
  
    <!-- Variable Table Column Headers -->
    <thead class="sticky-top">
      <tr>
        <th class="myProjects-th" scope="col" style="width: 5%"># ({{ coding_variables.count }})</th>
        <th class="myProjects-th" scope="col" style="width: 10%;">Variable</th>
        <th class="myProjects-th" scope="col" style="width: 5%;">Values</th>
        <th class="myProjects-th" scope="col" style="width: 50%;">Description</th>
        <th class="myProjects-th" scope="col" style="width: 5%;">Expand</th>
        {% if has_edit_permission %}
          <th class="myProjects-th" scope="col" style="width: 5%;">Edit</th>
          <th class="myProjects-th" scope="col" style="width: 5%;">Delete</th>
        {% endif %}
      </tr>
    </thead>
  
    <!-- Variable Table Rows -->
    <tbody class="table-group-divider">
      <!-- Loop through variables -->
      {% for variable in coding_variables %}
        <tr>
          <!-- <td style="width: 5%;">{/{ forloop.revcounter }/}</td> -->
           <td style="width: 5%;">{{ variable.variable_rank }}</td>
          <td style="width: 10%;">{{ variable.variable_name }}</td>
          <td style="width: 10%;">{{ variable.get_values_comma }}</td>
          <td style="width: 50%;">{{ variable.variable_description|truncatechars:240|safe }}</td>
          <td style="width: 5%;" onclick="showHideRow('hidden_row{{ forloop.counter }}');"><button type="button" class="btn text-center"><i class="bi bi-arrows-angle-expand"></i></button></td>
          {% if has_edit_permission %}
            <td style="width: 5%;"><a type="button" class="btn text-center" href="{% url 'main:myProjects_editVariable' project.project_id variable.variable_id %}"><i class="bi-pencil-square"></i></a></td>
            <td>{% include 'main/includes/myProjects/deleteVariableModal.html' %}</td>
          {% endif %}
        </tr>
        <tr id="hidden_row{{ forloop.counter }}" class="hidden_row">
          <td colspan="12">
            <table class="table mb-0">
              <caption><strong>Last Modified: </strong>{{ variable.timestamp }}</caption>
              <thead>
                <tr>
                  <th class="myProjects-th" scope="col">Value</th>
                  <th class="myProjects-th" scope="col">Label</th>
                  <th class="myProjects-th" scope="col">Example</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% with values=variable.get_values %}
                  {% for value in values %}
                    <tr>
                      <td>{{ value }}</td>
                      <td>{{ value.label }}</td>
                      <td>{{ value.example }}</td>
                    </tr>
                  {% endfor %}
                {% endwith %}
              </tbody>
              <tfoot>
                <tr>
                  <td><strong>Description:</strong> {{ variable.variable_description|safe }}</td>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function showHideRow(rowId) {
    // Hide all visible hidden rows
    $(".hidden_row").not("#" + rowId).hide();

    // Toggle the clicked row
    $("#" + rowId).toggle();
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script>
  $("#variableTable").tablesorter();
</script>
