<!-- Included in myProjects/usersTable.html -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-role p-1 text-truncate overflow-hidden" data-bs-toggle="modal" data-bs-target="#updateUserModal-{{ user.username }}">
  {{ user_project.role }}
</button>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" id="updateUserModal-{{ user.username }}" tabindex="-1" aria-labelledby="updaetUserModalLabel-{{ user.username }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Update User Role Title -->
        <h1 class="modal-title fs-5" id="updaetUserModalLabel-{{ user.username }}">Change User Role: <strong>{{ user.username }}</strong></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">

        <!-- Update User Form -->
        <form class="row g-3" method="post">
          {% csrf_token %}

          <div class="col-12">
            <input type="text" class="form-control d-none" name="user-id" value="{{ user.id }}">
            <select class="form-select" aria-label="Select Role" name="role-pk" id="role-pk">
              <option selected>{{ user_project.role }}</option>
              {% for role in roles %}
                <option value="{{ role.pk }}">{{ role.role_name }}</option>
              {% endfor %}
            </select>
          </div>

      </div>

      <!-- Cancel and Create Buttons -->
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Update</button>
      </div>
      </form>

    </div>
  </div>
</div>